body {
  background-color: #24262b;
  font-family: 'Roboto', sans-serif;
}

#formfirma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 50%;
  padding: 20px;
  background-color: #24262b;
  border-radius: 15px;
  border: 1px solid #24262b;
  box-shadow: 0 30px 30px black;
  font-family: 'Roboto', sans-serif;
}

#formfirma {
  margin-bottom: 20px;
}

.options{
  color: #FE4E4E;
}


h1{
  align-items: center;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  color: #FE4E4E;
  font-size: x-large;
}

h2{
  align-items: center;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 50%;
  color: white;
  font-size: large;

}

#formfirma input, #formfirma select {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ed8686;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  
  width: 30%;
}

#formfirma textarea {
  padding: 10px;
  border: 1px solid #ed8686;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color: #FE4E4E;
  width: 30%;
  height: 100px;
}

#formfirma button {
  padding: 10px 20px;
  background-color: #FE4E4E;
  color: #FE4E4E;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

#butonIntoarcere {
  padding: 16px;
  background-color: #FE4E4E;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#buttonIncarcare:hover {
  background-color: #eb2525;
}

#butonIntoarcere:hover {
  background-color: #eb2525;
}

#numeFirma, #titluOfertei, #butonIntoarcere {
  width: 15%;
  display: inline-block;
  margin-bottom: 20px;
}

#buttonIncarcare{
  background-color: #FE4E4E ;
  color: white;
}