@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root {
    --primary-color: #8800C7;         
    --secondary-color: #A44CD3;       
    --accent-color: #D90077;          
    --background-color: #FBBEDE;      
    --text-color: black;    
    --btt-color:#E090DF;  
    --hover-color:#f5269b;         
  }
        body {
            font-family: 'Raleway', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: var(--background-color);
        }

        #login_form {
            width: 300px;
            text-align: center;
            background: var(--primary-color);
            padding: 20px;
            box-shadow: 0 4px 8px var(--primary-color);
            border-radius: 10px;
            display: block;
            color: black;
        }

        /* Style labels, register button, and hyperlink */
        label {
            display: block;
            text-align: left;
            margin-top: 10px;
        }

        input[type="radio"],
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 7px;
            border: none;
            border-radius: 20px;
            margin-top: 5px;
        }

        input[type="submit"] {
            background-color: var(--accent-color);
            color: var(--text-color);
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            margin-top: 15px;
            transition: background-color 0.3s; /* Add a smooth transition for the color change */
        }
        
        input[type="submit"]:hover {
            background-color: var(--hover-color);
        }
        

        #login_button {
            color: var(--text-color);
            display: block;
            margin-top: 10px;
        }

        #register_title {
            color: var(--accent-color) ;
        }

        /* Style the radio buttons */
        input[type="radio"] {
            -webkit-appearance: none; /* Remove the default appearance */
            -moz-appearance: none;
            appearance: none;
            width: 20px; /* Set the desired width */
            height: 20px; /* Set the desired height */
            border: 2px solid var(--accent-color); /* Add a border */
            border-radius: 50%; /* Make it round */
            outline: none; /* Remove the focus border */
            margin-right: 5px; /* Add some spacing between the radio button and label */
        }

        /* Style the radio buttons when checked */
        input[type="radio"]:checked {
            background-color: var(--accent-color); /* Change the background color when checked */
        }